<div class="logo">
  <a href="/index.html"><picture class="headlogo">
    <source media="(max-width: 656px)" srcset="../images/flapmap-logo-100.webp">
    <source media="(max-width: 1024px)" srcset="../images/flapmap-logo-100.webp">
    <source media="(min-width: 1023px)" srcset="../images/flapmap-logo-200.webp">
    <img src="../images/flapmap-logo-100.webp" alt="logo">
</picture></a>
</div>
<section class="headings"><h1>FlapMap</h1> <p>Explore Birds. Record Birds. Enjoy Birds.</p>
</section>

  